Lab 5 Dictionary & Tuple Tasks: https://drive.google.com/file/d/1HE3pt1TyIHR6K1cBDDTykzOa3WOvV9TJ/view

In [ ]:
#task1

a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717, [1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#task2

tuple1 = (10, 20, 24, 25, 26, 35, 70)
print(tuple1[2:-2])

(24, 25, 26)

In [ ]:
#task2 (By taking inputs)

user = input("Take some numbers as a tuple: ")
list1 = user[1:-1].split(",")
new_list = []
for i in list1:
  new_list.append(int(i))
print(tuple(new_list)[2:-2])

Take some numbers as a tuple: (10, 20, 24, 25, 26, 35, 70)
(24, 25, 26)

In [ ]:
#task3

tuple1 = book_info = (("Best Mystery & Thriller","The Silent Patient",68,821), ("Best Horror","The Institute",75,717), ("Best History & Biography","The five",31,783 ), ("Best Fiction","The Testaments",98,291))
print("Size of the tuple is:",len(tuple1))
for i in tuple1:
    print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#task4

book_info = (("Best Mystery & Thriller","The Silent Patient",68821), ("Best Horror","The Institute",75717), ("Best History & Biography","The five",31783 ), ("Best Fiction","The Testaments",98291))
for a,b,c in book_info:
    print(b+" won the "+"'"+a+"'"+" category with "+str(c)+" votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#task5

tuple1 = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
u = int(input("Enter the number: "))
c = 0
for i in tuple1:
    if i == u:
        c+=1
print(u,"appears",c,"times in that tuple")

Enter the number: 3
3 appears 0 times in that tuple

In [ ]:
#task6

tuple1 = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
a = []
for i in range(-1,-len(tuple1),-1):
        a.append(tuple1[i])
print(tuple(a))

('h', 'g', 'f', 'e', 'd', 'c', 'b')

In [ ]:
#task6 (alternative)

tuple1 = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
list1 = list(tuple1)
list1.reverse()
print(tuple(list1))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#task7

dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}

dict1.update(dict2)

print(dict1)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#task8

a = input("Enter a string as dictionary: ")
a = a.strip("{")
a = a.strip("}")
a = a.replace(",",":")
b = a.split(":")
# print(b)

c = 0
s = 0
for i in b:
    if c%2 != 0:
        s += int(i)
    c += 1
print("Average is "+str(s//(c//2)))

Enter a string as dictionary: {'Jon': 100, 'Dan':200, 'Rob':300}
Average is 200

In [ ]:
#task8 (alternative way)

a = input("Enter a string as dictionary: ")
a = a.strip("{")
a = a.strip("}")
a = a.replace(",",":")
b = a.split(":")
# print(b)

c = 0
s = 0
for i in range(1,len(b),2):
    # print(int(b[i]))
    c+=1
    s+=int(b[i])
# print(s)
print("Average is "+str(s//c))

Enter a string as dictionary: {'Jon': 100, 'Dan':200, 'Rob':300}
Average is 200

In [ ]:
#task9

exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
new = {}
n = {}
u = int(input("Enter a number: "))
for i in exam_marks:
    if exam_marks[i]>u:
        n.update({i:exam_marks[i]})

        new[i] = exam_marks[i]
print(n)

Enter a number: 170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#task9 (Alternative way)

exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
new = {}
u = int(input("Enter a number: "))
for i in exam_marks:
    if exam_marks[i]>u:
        new[i] = exam_marks[i]
print(new)

Enter a number: 170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
c={}
c['a','b'] = 6,7
c['b'] = 7
print(c)

{('a', 'b'): (6, 7), 'b': 7}

In [ ]:
#task10

dict1 = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max = -1
for i in dict1:
    if dict1[i]>max:
        max = dict1[i]
        j = i
print("The highest selling book genre is "+"'"+j+"'"+" and the number of books sold are "+str(max)+".")

The highest selling book genre is 'mystery' and the number of books sold are 15.

In [ ]:
#task11

x = "Python programming is fun"
d = {}
for i in x:
    b = i.lower()
    if b not in d:
        d[b] = 1
    else:
        d[b] += 1

print(d)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, ' ': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#task12

dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
c = 0
for i in dict_1:
    for j in dict_1[i]:
        c+=1
print(c)

9

In [ ]:
#task13

list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1 = {}
for i in list_1:
    if i[0] not in dict1:
        dict1[i[0]] = [i[1]]
    else:
        dict1[i[0]].append(i[1])
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:

var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = result7 = result8 = result9 = result10 = False
var1 = 4 < 3 - 1
var2 = var1 and False
var3 = False
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not result5) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)